@tailwind base;
@tailwind utilities;
@tailwind components;

a {
  color: rgb(51, 123, 230);
}

a:hover {
  color: black;
}

.person {
  display: flex;
  align-items: center;
  justify-content: center;
}

.person > img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

body {
  overflow-x: hidden;
}
